# Virtual environment
simt_env/

# Logs
screenlog.0
screenlog*.txt
screenlog*
*.log


# Python cache and temporary files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# OS/IDE files
.DS_Store
.vscode/
.idea/

# Experiments and model weights
simult_mt/experiments/
*.pt
*.bin
*.pth
*.safetensors

